.row{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.content-row{
  padding-top: 2%;
}

.col{
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart-row{
  width: 100%;
  display: flex;
  justify-content: center;
}