.row{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.content-row{
  padding-top: 2%;
}

.col{
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart-row{
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart{
  padding: 10%;
  padding-top: 0;
  width: 100%;;
}

.d-chart{
  display: flex;
  justify-content: center;
  padding: 10%;
  padding-top: 2%;
  width: 80%;
}