.container-div{
  position: fixed;
  left: 4%;
  bottom: 0%;
  top: 85%;
  max-width: min-content;
}

.ant-popover{
  overflow: auto;
  max-height: 25vw;
  max-width: min-content;
}

.history-link{
  color:black;
  text-align: left;
}

.history-link :hover{
  color: #1890ff;
}

.history-icon{
  font-size: 4vw;
  color: #33bbf0;
  box-shadow: 0 0 0 5px #d8d6d6;
  border-radius: 50%;
}

.ant-popover-title,
.ant-popover-inner-content {
  background-color:#e6f0f6 !important;
}